#!/usr/bin/make -f

# debian/rules file - for p0f (3.0.6b)
# Copyright 2014 Zentyal S.L.

DESTDIR=$(CURDIR)/debian/p0f

install_dir=install -d -m 755
install_file=install -m 644
install_script=install -m 755
install_binary=install -m 755 -s

%:
	dh $@

override_dh_auto_clean:
	$(MAKE) clean
	find . -name \*~ | xargs rm -vf

override_dh_auto_build:
	$(MAKE)

override_dh_auto_install:

override_dh_install:
	$(install_dir) $(DESTDIR)/usr/sbin/
	$(install_binary) p0f $(DESTDIR)/usr/sbin/
	$(install_dir) $(DESTDIR)/etc/p0f/
	$(install_file) p0f.fp $(DESTDIR)/etc/p0f/
